body {
    background-color: 	#42220d;
    background-image: url(/static/image/dark-wood-up-40.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #c59245;
    text-shadow: #dbc1ac;
  }
  .bg-brown {
      background-color: 	#634832;
  }

/* Modify the background color */
    
.navbar-custom {
    background-color: #42220d;
}
/* Modify brand and text color */
    
.navbar-custom  {
    color: #452415;
}
.navbar-brand {
    color: #452415;
    font-size: 25px;
    font-style: oblique;
    text-shadow:     
    -1px -1px 0 #e4c79b,
    0   -1px 0 #e4c79b,
    1px -1px 0 #e4c79b,
    1px  0   0 #e4c79b,
    1px  1px 0 #e4c79b,
    0    1px 0 #e4c79b,
   -1px  1px 0 #e4c79b,
   -1px  0   0 #e4c79b;
}

.navbar-brand:hover {
    background-color: 	#e4c79b;
    color: #634832;
    font-size: 25px;
    font-style: oblique;
}


.navbar-toggler{
    background-image: url('/static/image/coffee-ante-porta-32.png');
    background-repeat: no-repeat;
    background-size: 70%;
}

.nav-item .nav-link {
    color: #e4c79b;

    font-size: 20px;
    font-style: oblique;
}
.nav-item .nav-link:hover{
    background-color: 	#e4c79b;
    color: #634832;
    font-size: 20px;
    font-style: oblique;
}



h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: 	#dbc1ac;
}

.bg-brown {
    background-color: 	#634832;
}

.text-capuccino {
    color: #dbc1ac;
}