{% extends 'base.html' %}
{% load static %}

{% block title %}    
    ware list    
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/Coffee-Table-PPT-Backgrounds.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        td, th  {
        text-align: center;
        }

    </style>
{% endblock %}    
    
    {% block content %}
    
    <div class="container pt-2"></div>
        <div class="row">

            
            <div class="col-sm-8">
                <h2 style="text-align:center">Beszerzett áruk</h2>
            </div>
    </div>

{% for ware_type  in ware_type_list %}
    <h3>{{ ware_type.ware_types }}</h3>
    <div class="container sm-12 pt-2">
        <table class="table table-md-12 table-hover">
            <thead class="table-light">
                <tr>  
                    <th class="col-sm-2">Áru</th>
                    <th class="col-sm-2">Beszerző</th>
                    <th class="col-sm-2">Dátum</th>
                    <th class="col-sm-1">Kiszerelés [g]</th>
                    <th class="col-sm-1">Csomag ára</th>
                    <th class="col-sm-2">  Szerkeszt   </th>
                    
                </tr>
                <i class="glyphicon glyphicon-plus"></i>
            </thead>

            {% for ware in wares %}          
                <tr>
                {% if ware.ware_type.ware_type == ware_type %}

                    <th class="col-sm-2">{{ ware.ware_type.ware_brand }} {{ ware.ware_type.ware_brand_name }}</th>
                    <td class="col-sm-2">{{ ware.acquisitor_user }}</td>
                    <td class="col-sm-2">{{ ware.acquisition_date }}</td>
                    <td class="col-sm-1">{{ ware.stock }}</td>
                    <td class="col-sm-1">{{ ware.acquisition_price }}</td>
                    
                    <td class="col-sm-2">
                    {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" 
                            href="{% url 'raw_material:acquisition_list' %}"><span class="fa fa-pencil"></span></a>
                        <a class="btn btn-primary btn-sm" 
                            href="{% url 'raw_material:acquisition_remove' pkey=ware.pk %}"><span class="fa fa-trash-o"></span></a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url 'raw_material:acquisition_list' %}"><span class="fa fa-shopping-basket"></span></a>
                        {% endif %}
                    </td>
                {% endif %}                
                </tr>
            {% endfor %}    
        </table>
    </div>
    {% endfor %} 

    {% endblock %}