{% extends 'base.html' %}
{% load static %}

{% block title %}    
    ware list    
{% endblock %}

{% block style %}    
    <style>
        body {
          background-image: url(/static/image/Coffee-Table-PPT-Backgrounds.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        td, th  {
        text-align: center;
        }

    </style>
{% endblock %}    
    
    {% block content %}
    
    <div class="container"></div>
        <div class="row">                                  
            <div class="col-sm-10">
                <div class="row border">
                    <div class="col-sm-3">
                        <h2 style="text-align:Left">Készletek</h2>
                    </div>
                    
                    <div class="col-sm-7 border">
                            <form method="POST" >{% csrf_token %}
                                
                                <h4> 
                                    <button type="submit" class="save btn btn-primary middle">
                                    {% for forms in form %}
                                        <label>|{{forms}}  {{forms.label}}|</label>
                                    {% endfor %}
                                    </button>
                                </h4>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
    </div>

{% for ware_type  in ware_type_list %}
    <h3>{{ ware_type.ware_types }}</h3>
    <div class="container sm-12 pt-2">
        <table class="table table-md-12 table-hover">
            <thead class="table-light align-text-top">
                <tr>  
                    <th class="col-sm-2">Áru </th>
                    <th class="col-sm-2">Beszerző <br> Bevételező</th>
                    <th class="col-sm-2">Beszerzési Dátum <br> Raktár dátum</th>
                    <th class="col-sm-1">Kiszerelés [g] <br> Raktáron [g]</th>
                    <th class="col-sm-1">Csomag ára </th>
                    <th class="col-sm-2">  Szerkeszt </th>
                    
                </tr>
                <i class="glyphicon glyphicon-plus"></i>
            </thead>

            {% for ware in wares %}          
                <tr>
                {% if ware.ware_type.ware_type == ware_type and ware.acquisition %}

                    <th class="col-sm-2">{{ ware.ware_type.ware_brand }} {{ ware.ware_type.ware_brand_name }}  <br>
                         {{ ware.id }} </th>
                    <td class="col-sm-2">{{ ware.acquisiton_user }} <br>  {{ ware.store_user }}</td>
                    <td class="col-sm-2">{{ ware.acquisition_date }} <br> {{ ware.store_date }}</td>
                    <td class="col-sm-1">{{ ware.ware_type.ware_weight }} <br> {{ ware.stock }}</td>
                    <td class="col-sm-1">{{ ware.acquisition_price }}</td>
                    
                    <td class="col-sm-2">
                    {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" 
                            href="{% url 'raw_material:acquisition_edit' pkey=ware.pk %}"><span class="fa fa-pencil"></span></a>
                            <a class="btn btn-primary btn-sm" href="{% url 'raw_material:acquisition_storing' pkey=ware.pk %}"><span class="fa fa-shopping-basket"></span></a>
                            <a class="btn btn-danger btn-sm" 
                                href="{% url 'raw_material:acquisition_remove' pkey=ware.pk %}" onclick="return confirm('Biztosan törölni akarja?')">
                                <span class="fa fa-trash-o"></span></a>
                        {% endif %}
                    </td>
                {% endif %}                
                </tr>
            {% endfor %}    
        </table>
    </div>
{% endfor %} 

{% endblock %}