{% extends 'base.html' %}
{% load static %}

{% block title %}    
    New acquisition    
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/cup-drink-white-coffee-beans-cups.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: left;
        color: rgb(247, 155, 17);
        }
    </style>
{% endblock %} 

{% block content %}

<div class="container pt-2">
    {% if ware.acquisition == True %}
        <h2> Termék: {{ware.id}} {{ware.ware_type.ware_brand}} {{ware.ware_type.ware_brand_name}} {{ware.ware_type.ware_weight}}g ( {{ware.ware_type.ware_type}} ) {{ware.ware_type.ware_price}}Ft</h2>
    {% else %}
        <h2> Termék: {{ware.id}} {{ware.ware_brand}} {{ware.ware_brand_name}} {{ware.ware_weight}}g ( {{ware.ware_type}} {{  ware.ware_price}}Ft ) </h2>
    {% endif %}
</div>



<div class="input-group mb-5">
    <form method="POST" class="post-form">{% csrf_token %}
        
        <h4></h4>
        {% if user.is_staff %}
        <h4>{{form.as_p}}</h4>
        
        {% else %}
            <h4> Beszerző: {{user}}</h4>
            <h4> Átadva: {{now}}</h4>
            {% for forms in form %}
                {% if forms.name == 'acquisition_price' %}
                    <div class="visible">
                        <h4>{{forms.label}}</h4>
                        <h4>{{forms}}</h4>
                    </div>                        
                {% else %}
                    <div class="invisible">
                        <h4>{{forms}}</h4>
                    </div>
                {% endif %}
            {% endfor %}                
        {% endif %}
        
        <button type="cancel" class="cancel btn btn-primary" onclick="window.history.back();">Cancel</button>
        {% if user.is_authenticated %}
            <button type="submit" class="save btn btn-primary">Save</button>
        {% endif %}
        
    </form>
</div>
{% endblock%}