{% extends 'base.html' %}
{% load static %}

{% block title %}    
    ware list    
{% endblock %}

{% block style %}    
    <style>
        body {
          background-image: url(/static/image/Coffee-Table-PPT-Backgrounds.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        td, th  {
        text-align: center;
        }

    </style>
{% endblock %}    
    
    {% block content %}
    
    <div class="container"></div>
        <div class="row">                                  
            <div class="col-sm-10">
                <div class="row ">
                    <div class="col-sm-3">
                        <h2 style="text-align:Left">Készletek</h2>
                    </div>
                    
                    <div class="col-sm-7 ">
                            <form method="POST" >{% csrf_token %}
                                                                 
                                <h4> 
                                    <button type="submit" class="save btn btn-primary middle"> 
                                        {{form}}                                  
                                    </button>
                                </h4>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
<p>{{ acq }}</p>

{% for ware_type  in ware_type_list %}
    <h3>{{ ware_type.ware_types }}</h3>
    <div class="container sm-12 pt-2">
        <table class="table table-md-12 table-hover">
            <thead class="table-light align-text-top">
                <tr>  
                    <th class="col-sm-2">Áru</th>
                    <th class="col-sm-1">Helyzete</th>
                    <th class="col-sm-2">Ügyintéző<br> </th>
                    <th class="col-sm-2">Iktatási Dátum <br> </th>
                    <th class="col-sm-2">Kiszerelés<br>Raktáron [g]</th>
                    <th class="col-sm-1">Ára [Ft] </th>
                    <th class="col-sm-2">Szerkeszt</th>
                    
                </tr>
                <i class="glyphicon glyphicon-plus"></i>
            </thead>

            {% for ware in wares %}          
                <tr>
                {% if ware.ware_type.ware_type == ware_type %}

                    <th class="col-sm-2">
                        {{ ware.id }} {{ ware.ware_type.ware_brand }} {{ ware.ware_type.ware_brand_name }}   
                    </th>
                    <td class="col-sm-1">
                        {% if ware.store_status == 1 %} BESZEREZVE
                        {% elif ware.store_status == 2 %} RAKTÁRON
                        {% elif ware.store_status == 3 %} KIBONTVA
                        {% elif ware.store_status == 4 %} ELFOGYOTT
                        {% endif %}  
                    </td>

                    <td class="col-sm-2">
                        {% if ware.store_status == 1 %} {{ ware.acquisiton_user }}
                        {% elif ware.store_status == 2 %} {{ ware.store_user }}
                        {% elif ware.store_status == 3 %} {{ ware.open_user }}
                        {% elif ware.store_status == 4 %} {{ ware.empty_user }}
                        {% endif %} 
                    </td>

                    <td class="col-sm-2">
                        {% if ware.store_status == 1 %} 
                            {{ ware.acquisition_date|date:"Y.m.d" }}
                            {{ ware.acquisition_date|time:"H:i" }}
                        {% elif ware.store_status == 2 %}
                            {{ ware.store_date|date:"Y.m.d" }}
                            {{ ware.store_date|time:"H:i" }}
                        {% elif ware.store_status == 3 %} 
                            {{ ware.open_date|date:"Y.m.d"  }}
                            {{ ware.open_date|time:"H:i" }}
                        {% elif ware.store_status == 4 %} 
                            {{ ware.empty_date|date:"Y.m.d"  }}
                            {{ ware.empty_date|time:"H:i" }}
                        {% endif %} 
                    </td>

                    <td class="col-sm-2">{{ ware.ware_type.ware_weight }}  /  {{ ware.stock }}
                    </td>
                    <td class="col-sm-1">{{ ware.acquisition_price }}</td>
                    
                    <td class="col-sm-2">
                    {% if user.is_staff %}
                        {% if ware.store_status == 1 %}
                        <a class="btn btn-primary btn-sm" 
                            href="{% url 'raw_material:acquisition_edit' pkey=ware.pk %}" >
                            <span class="fa fa-pencil"></span></a>
                            <a class="btn btn-primary btn-sm" 
                                href="{% url 'raw_material:acquisition_storing' pkey=ware.pk %}"
                                onclick="return confirm('Az árut bevételezi?')">
                                <span class="fa fa-cube"></span></a>
                        {% endif %}
                        {% if ware.store_status == 2 %}
                            <a class="btn btn-primary btn-sm" 
                                href="{% url 'raw_material:box_open' pkey=ware.pk %}" 
                                onclick="return confirm('A csomag meg lett kezdve?')">
                                <span class="fa fa-dropbox"></span></a>
                        {% endif %}
                        {% if ware.store_status == 3 %}
                            <a class="btn btn-primary btn-sm" 
                                href="{% url 'raw_material:box_empty' pkey=ware.pk %}" 
                                onclick="return confirm('A csomag kiürült?')">
                                <span class="fa fa-share-square-o"></span></a>
                        {% endif %}
                        {% if ware.store_status == 1 or ware.store_status == 2 %}
                        <a class="btn btn-danger btn-sm" 
                            href="{% url 'raw_material:acquisition_remove' pkey=ware.pk %}" 
                            onclick="return confirm('Biztosan törölni akarja?')">
                            <span class="fa fa-trash-o"></span></a>
                        {% endif %}
                    {% endif %}
                    </td>
                {% endif %}                
                </tr>
            {% endfor %}    
        </table>
    </div>
{% endfor %} 

{% endblock %}