{% extends 'base.html' %}
{% load static %}

{% block title %}    
    ware choice    
{% endblock %}

{% block style %}    
    <style>
        h1, h2, h3 {
        text-align: left;
        text-shadow: 10px 10px 3px #1a0c02;
        }
        
    </style>
{% endblock %}    
    
{% block content %}

<div class="container pt-2">

    <div class="row">
        <div class="col-sm-8">
            <h1 style="text-align:center">Choice of ware</h1>
        </div>
        <div class="col-sm-2">
            {% if user.is_staff %}
            <a class="btn btn-capuccino btn-lg" href="{% url 'raw_material:ware_new' %}">   
                <span class="fa fa-plus"> New ware</span></a>
            {% endif %}    
        </div>
    </div>
    <div class="row">
        </br>
    </div>
    
    
    <div class="row">
        {% for ware_type  in ware_type_list %}
            <div class="col-sm-3">
                <h3> {{ ware_type }} </h3> 
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for ware_type  in ware_type_list %}
            <div class="col-sm-3">        
                <a  href="{% url 'raw_material:ware_list' pk=ware_type.pk %}">                
                    <img src ="{% static 'image/'|add:ware_type.ware_image %}" class="rounded" style="height:150px"; alt="choice">                 
                </a>
            </div>
        {% endfor %}
    </div>        
        
</div>

{% endblock %}
    