{% extends 'base.html' %}



{% block content %}

    <div>
        <h1><a href="/">Eddig vásárolt alapanyagok listája</a></h1>
    </div>
    
    <h2>Kávék: </h2>
    <table border="1">
    {% for coffee in coffees %}
        <tr>       
            <td><a href="">{{ coffee.ware_brand }}</a></td>
            <td>{{ coffee.ware_brand_name }}</td>
            <td>{{ coffee.ware_weight }}</td>
            <td>{{ coffee.ware_price }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Tejek: </h2>
    <table border="1">
    {% for milk in milks %}
        <tr>
            <td><a href="">{{ milk.ware_brand }}</a></td>
            <td>{{ milk.ware_brand_name }}</td>
            <td>{{ milk.ware_weight }}</td>
            <td>{{ milk.ware_price }}</td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}