{% extends 'base.html' %}
{% load static %}

{% block title %}    
    ware list    
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/Coffee-Table-PPT-Backgrounds.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        td, th  {
        text-align: center;
        }
    </style>
{% endblock %}    
    
    {% block content %}
    
    <div class="container pt-2"></div>
        <div class="row">
            <div class="col-sm-1">
                {% if user.is_staff %}
                    <a class="btn btn-primary btn-lg" href="{% url 'raw_material:ware_new' %}">   
                        <img src="{% static 'image/coffe_bean_draw.jfif' %}" class="rounded" style="height:70px;" alt="coffe_draw"> 
                    <span class="fa fa-plus"> </span></a>
                {% endif %}
               
                
            </div>
            
            <div class="col-sm-7">
                <h2 style="text-align:center">Alapanyagok listája</h2>
            </div>
            <div class="col-sm-3">
                    {% if user.is_staff %}
                    <a class="btn btn-primary btn-lg" href="{% url 'raw_material:ware_new' %}">  Új alapanyag  <span class="fa fa-plus"> </span></a>
                    {% endif %}
                
            </div>
        </div>
    </div>

    <div class="container sm-6 pt-2">

        {% for ware_type  in ware_type_list %}
        <h3> {{ ware_type.id }} </h3> 
   
    
    
        <p></p>
        <table class="table table-sm-6 table-hover">
            <thead class="table-dark">
                <tr>  
                    <th class="col-sm-1">     Márka    </th>
                    <th class="col-sm-1">    Típus     </th>
                    <th class="col-sm-1">Kiszerelés [g]</th>
                    <th class="col-sm-1">  Csomag ára  </th>
                    <th class="col-sm-1">  Szerkeszt   </th>
                    
                </tr>
                <i class="glyphicon glyphicon-plus"></i>
            </thead>
            {% for ware in wares %}
            
                <tr>
                {% if ware.ware_type == ware_type %}   
                    <th>{{ ware.ware_brand }}</th>
                    <td>{{ ware.ware_brand_name }}</td>
                    <td>{{ ware.ware_weight }}</td>
                    <td>{{ ware.ware_price }}</td>
                    <td>
                    {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" href="{% url 'raw_material:ware_edit' pk=ware.pk %}"><span class="fa fa-pencil"></span></a>
                        <a class="btn btn-primary btn-sm" href="{% url 'raw_material:ware_remove' pk=ware.pk %}"><span class="fa fa-trash-o"></span></a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url 'raw_material:ware_edit' pk=ware.pk %}"><span class="fa fa-shopping-basket"></span></a>
                        {% endif %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
    
        </table>
        {% endfor %}
        <p></p>
        
    
    {% endblock %}
    </div>  