{% load static %}
{% load livereload_tags %}
{% livereload_script %}
{% load django_template_maths %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% include "base/css.html" %}

       
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style%}{% endblock %}

</head>

<body>
    <div id="modals-here"></div>
    <div class="page-header">
        <div class="row-md-1">
            <div class="col-md-12">
                {% include "base/navbar.html" with site_title=' I me kávézója '  site_logo="src='/static/image/coffe_draw.webp'" %}             
            </div>
        </div>        
    </div>

    <div class="content container">
        <div class="row">
            <br>
            <br>
            <br>
        </div>
    <div class="row"></div>
        
            
        {% block content %}{% endblock %}
    </div>

    <div class="row">
        <!-- Placeholder for the modal -->
        <div id="modalForm" class="modal fade">
            <div id="dialog" class="modal-dialog modal-dialog-centered container-fluid" hx-target="this">     
            </div>
        </div> 
    </div> 

   

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    
</body>
</html>