{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% include "base/css.html" %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style%}{% endblock %}

</head>

<body>
    <div class="page-header">
        <div class="row-md-1">
            <div class="col-md-12">
                {% include "base/navbar.html" with site_title=' I me kávézója '  site_logo="src='/static/image/coffe_draw.webp'" %}             
            </div>
        </div>        
    </div>>
    <div class="content container">
        <div class="row">
            </br>
            </br>
        </div>
        <div class="row">
            <div class="col-md-12">
        {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>