{% load livereload_tags %}
{% livereload_script %}
{% load static %}
{% load django_template_maths %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/image/coffe_draw.webp">
    <title>{% block title %}{% endblock %}</title>
    {% include "base/css.html" %}

       
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style%}{% endblock %}

</head>

<body>
    <div id="modals-here"></div>
    <div class="page-header">
    </div>
    
    <div class="content container border border-0 border-warning">
        <div class="container  border border-0 border-warning">
            <div class="row row-md-12 pb-2">
                <img src= "/static/image/CoffeBarTop.png"  class="img-fluid">
            </div>
            <div class="row-md-12 border border-0 border-warning">
                    {% include "base/navbar.html" with site_title='Coffee Ante Portas'  site_logo="src='/static/image/coffe_draw.webp'" %}             
            </div>        
            <div class="row"></div>    
        </div> 
        <div class="container overflow-auto" >

            {% block content %}{% endblock %}
        </div>    
            
    </div>

    <div class="row">
        <!-- Placeholder for the modal -->
        <div id="modalForm" class="modal fade">
            <div id="dialog" class="modal-dialog modal-dialog-centered container-fluid" hx-target="this">     
            </div>
        </div> 
    </div> 

   

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    
</body>
</html>