{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Page{% endblock %}

{% block content %}
<style>
    body {
      background-image: url(/static/image/blank-coffee-day-background.webp);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      color: rgb(178, 169, 155);
    }
</style>

    <div class="text-center">
        <br>
        <h1>Contact Page</h1>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-12">
                <h3> THIS SITE UNDER CONSTRUCTION</h3>
                <h4> THIS SITE IS A DJANGO TUTORIAL (and GIT :-)</h4>
                <p>At my workplace, the receptionist makes the coffee and arranges an appointment for when the coffee will be ready.
                    Everyone who has coffee brings ingredients. (Koffee, sugar, milk, etc)</p>
                <p>I needed a task to practice Django. That came to mind.</p>
                <p>Since I want to get to know Django purely now, I decided to use only HTML and the minimal style.</p>
                <p></p>
                <br>
                <p> (2022.05.30) The main principle failed. I wanted a pure django creation without jawascript. 
                <br> But ... </p>
                <p> </p> 
                <h6> staff login:    the.boss@staff.com</h6>
                <h6>password:    Enter1</h6> 
                <p style="text-align:right;"><i>e-mail: peterjung777@gmail.com</i></p>  
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}