{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_7.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
{% endblock %}
{% block content %}
<h1> THIS SITE UNDER CONSTRUCTION</h1>
<h4> THIS SITE IS A DJANGO TUTORIAL (and GIT :-)</h4>
<p> The main principle failed. I wanted a pure django creation without jawascript. 
    <br> But ... </p>
<p> staff login:    the.boss@staff.com</p>
<p>password:    Enter1</p>

{% endblock %}