{% extends "base.html" %}
{% load django_template_maths %}

{% block title %}
    Homepage
{% endblock %}


{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_7.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        .bg-brown {
            background-color: rgb(80, 45, 45);
        }
    </style>
{% endblock %}

{% block content %}
<h1>I-Me Porta Coffee Bar</h1>
<h2> THIS SITE UNDER CONSTRUCTION</h2>
<h6> THIS SITE IS A DJANGO TUTORIAL (and GIT :-)</h6>

<h6> staff login:    the.boss@staff.com</h6>
<h6>password:    Enter1</h6>

<div class="container">
    <div class="row p-4 ">
        <div class="col-sm-3 centered">
            <center>
                <h4> Next Coffee:</h4>
                <button type="button" 
                class="btn btn-secondary position-relative"
                style="padding:0px">
                    <a href="{% url 'shop:coffee_order' %}"
                    title="To the Coffee Ordering Page"               
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-content="There you can book some dose Coffe. From half a dose to two doses.
                    With milk, sugar, and flavoring.">
                        <img src='/static/image/koffe.jpeg'
                        class="img-thumbnail" 
                        style="width:150px;height:150px;">
                    </a>
                </button>
                <p>If you want to book a few servings of coffee, click on the cup picture.</p>
            </center>
        </div>
    
    
        <div class="col-sm-5 centered p-3">
            {% for coffee in coffees %}
            <div class="row p-2 ">
                <div class="card bg-brown text-white">
                    <h3 class="card-title text-center">
                        <div class="d-flex flex-wrap justify-content-center mt-2">
                            <a><span class="badge hours">{{coffee.c_make_date}}</span></a> 
                        </div>
                    </h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% if user.is_staff %}

    <div class="row  p-4 ">
        <div class="col-sm-3 centered">
            <center>
                <button type="button" 
                class="btn btn-secondary position-relative"
                style="padding:0px">
                    <a href="{% url 'shop:coffee_make' %}"
                    title="To the Coffee Making Page"               
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-content="There you can indicate when the next coffee portions will be ready. 
                    Only for STAFF "> 
                        <img src='/static/image/coffee_machine_1.jfif'
                        class="img-thumbnail"
                        style="width:150px;height:150px;">
                        {% if coffees %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            <h4>Have {{coffees|length}}</h4>
                        </span>
                        {% else %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <h4>Make Coffe</h4>
                        </span>
                        {% endif %}
                    </a>
                </button>
            </center>
        </div>
        <div class="col-sm-5 centered">
                {% for ware in wares %}
                    <li style="color:red;font-style:bold">Out of stock: {{ware}} : {{ware.stock|div:ware.ware_type.ware_weight }}[%]</li>
                {% endfor %}
        </div>
    </div>

    <div class="row  p-4 ">
        <div class="col-sm-3 centered">
            <center>
                <button type="button" 
                class="btn btn-secondary position-relative"
                style="padding:0px">
                    <a href="{% url 'shop:coffee_booking' %}"
                    title="To the Coffee Booking Page"               
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-content="On this page you can record the depletion of finished 
                    and consumed raw materials. Only for STAFF ">  
                        <img src='/static/image/coffe_book_1.png'
                        class="img-thumbnail" 
                        style="width:150px;height:150px;">
                        {% if coffees2 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <h4>Open {{coffees2|length}}</h4>
                        </span>
                        {% else %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            <h4>Arranged</h4>
                        </span>
                        {% endif %}
                    </a>
                </button>
            </center>   
        </div>
{% endif %}



{% endblock %}