{% extends 'base.html' %}
{% load static %}

{% block title %}    
    Storing    
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/cup.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: left;
        color: rgb(247, 155, 17);
        }
    </style>
{% endblock %} 

{% block content %}

<div class="container pt-2">

        <h1> Foglalok a : {{coffee_1.c_make_date}}-i </h1>
        <h2>{{coffee_1.c_make_ware.ware_type.ware_brand}} 
            {{coffee_1.c_make_ware.ware_type.ware_brand_name}} kávéra</h2>
        <h4>Már csak {{dose}} adag kávé maradt</h4>
        <br>
        <p>sugar: {{sugar}}{{sugar_s}}</p>
        <p>milk: {{milk_s}}</p>
        <p>falvour: {{falvour_s}}</p>
        <p>cf2 {{coffee2.sugar_dose}}</p>
        <p>proba{{proba}}</p>

</div>



<div class="container pt-2">
    
    <form id="usersForm" method="POST"> {% csrf_token %}   
        <h4></h4>
        <div class="row border p-2">
            <div  class="col-sm-4 right "> {{form.coffee_dose.label}}
                Választás: <span id="coffeeLabel">0.5</span>
            </div>
            <div class="col-sm-2 right " oninput="re_fresh('coffeeRange','coffeeLabel')">
                {{form.coffee_dose}}
            </div>
            <div class="col-sm-6 right " >
                A megkezdett termékekből választhat:
            </div>           
        </div>

        <div class="row border p-2">
            <div class="col-sm-4 right " > {{form.sugar_dose.label}} 
                Választás: <span id='sugarLabel'>0</span>
            </div>
            <div class="col-sm-2 right " oninput="re_fresh('sugarRange','sugarLabel')">
                {{form.sugar_dose}}
            </div>
            <div class="col-sm-6 right " >
                {{form.sugar_choice}}
            </div>
        </div>

        <div class="row border p-2">
            <div class="col-sm-4 right "> {{form.milk_dose.label}}
                Választás: <span id="milkLabel">0</span>
            </div> 
            <div class="col-sm-2 right " oninput="re_fresh('milkRange','milkLabel')">
                {{form.milk_dose}}
            </div>        
            <div class="col-sm-6 right " >
                {{form.milk_choice}}
            </div>
        </div>
        
        <div class="row border p-2">
            <div class="col-sm-4 right "> {{form.flavour_dose.label}}
                Választás: <span id="flavourLabel">0</span>
            </div>
            <div class="col-sm-2 right " oninput="re_fresh('flavourRange','flavourLabel')">
                {{form.flavour_dose}}
            </div>
            <div class="col-sm-6 right " >
                {{form.flavour_choice}}
            </div>           
        </div>
        <div class="row  p-2">
            <div class="col-sm-3 right "></div>
            <div class="col-sm-2 right ">
                <button type="cancel" class="cancel btn btn-primary" onclick="window.history.back();">Cancel</button>
            </div>
            <div class="col-sm-1 right ">
                {% if user.is_authenticated %}
                    <button type="submit" class="save btn btn-primary">Save</button>
                {% endif %}
            </div>
        </div>    
        
    </form>
    <br><br><br><br><br>
    <p>
        The main principle failed here. I wanted a pure django creation without jawascript. 
        <br> But ... 
        <br> 2022.05.31
    </p>
</div>

<script src="/static/js/c_order_form.js"></script>
{% endblock%}
