{% load widget_tweaks %}
<script src="/static/js/c_order_form.js"></script>
<!-- The Modal -->
<div class="modal-lg">

    <form id="usersForm" 
    method="POST" 
    hx-post={{request.path}} 
    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' 
    class="modal-content">  
    
        <!-- Modal Header -->
        <div class="modal-header  border"> 
            <div class="row border">
                <h4> I'll book for the next:
                </h4>
                <h4>{{coffee_1.c_make_date}} </h4>
                <h6>{{coffee_1.c_make_ware.ware_type.ware_brand}}, {{coffee_1.c_make_ware.ware_type.ware_brand_name}} coffee  ({{coffee_1.id}})   </h6>  
                <h6>There are only {{dose}} servings of coffee left.</h6>
            </div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body  border">
            <div class="container border">
                <div class="row border "> {{form.coffee_dose.label}}
                    Selection:: <span id="coffeeLabel">0.5</span>
                </div>
                <div class="row border "> You can choose from the products you have started: </div>          
                <div class="row border" oninput="re_fresh('coffeeRange','coffeeLabel')">
                        {{form.coffee_dose}}
                </div>
            </div>
                
            <div class="container border">
                <div class="row border "> {{form.sugar_dose.label}} 
                    Selection: <span id='sugarLabel'>0</span>
                </div>
                <div class="row border " onchange="refreshPage()" >
                    {{form.sugar_choice}}
                </div>
                <div class="row border " oninput="re_fresh('sugarRange','sugarLabel')">
                    {{form.sugar_dose}}
                </div>
            </div>
                
            <div class="container border">
                <div class="row border "> {{form.milk_dose.label}}
                    Selection: <span id="milkLabel">0</span>
                </div> 
                <div class="row border " onchange="refreshPage()" >
                    {{form.milk_choice}}
                </div>
                <div class="row border" oninput="re_fresh('milkRange','milkLabel')">
                    {{form.milk_dose}}
                </div>        
            </div>
                    
            <div class="container border">
                <div class="row border "> {{form.flavour_dose.label}}
                    Selection: <span id="flavourLabel">0</span>
                </div>
                <div class="row border " onchange="refreshPage()" >
                    {{form.flavour_choice}}
                </div>           
                <div class="row border " oninput="re_fresh('flavourRange','flavourLabel')">
                    {{form.flavour_dose}}
                </div>
            </div>   
        </div>
    
            
        <!-- Modal footer -->
        <div class="modal-footer  border">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            {% if user.is_authenticated %}
            <button type="submit" class="save btn btn-primary">Save</button>
            {% endif %}
        </div>
    
    </form>
</div>

<!-- The main principle failed here. I wanted a pure django creation without jawascript. 
<br> But ... 
<br> 2022.05.31 -->
