{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Makeing
{% endblock %}

{% block style %}    
{% endblock %}  

{% block content %}
<div class="container sm ">
    <br>
    <div class="row-sm-2">
        <div class="col-sm-2 right">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_home' %}" {% endif %}
            title="Back Coffee Page"               
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-content="Order, Make, Booking">             
                <img src ="{% static '/image/coffee_machine_1.jfif' %}" class="rounded btn-border" 
                style="width:100px;height:100px; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-6 right">
            <h1> Kávé főzés {{dt}} </h1>
            <h4> Kibontott kávék</h4>
        </div>    
    </div>
</div>

<div class="container sm ">
    <div class="row-sm-6">
        <table class="table table-hover border">
            <thead class="table-brown">
                <tr>  
                    <th class="col-sm-1">     Brand    </th>
                    <th class="col-sm-1">    Type     </th>
                    <th class="col-sm-1">Packaging weight [g]</th>
                    <th class="col-sm-1">  Remainder [g]  </th>
                    <th class="col-sm-1">  Pk   </th>
                    <th class="col-sm-1">  Make    </th>
                    
                </tr>
            </thead>
            <tbody class="table-capuccino">
                {% for ware in wares %}
                <tr> 
                    <td>{{ware.ware_type.ware_brand}}</td>
                    <td>{{ware.ware_type.ware_brand_name}} </td>
                    <td>{{ware.ware_type.ware_weight}}g</td>
                    {% if ware.stock <= stock_min %}
                    <td style="background-color:powderblue; 
                        color:red; bold">{{ware.stock}}g</td>
                    {% else %}
                    <td>{{ware.stock}}g</td>
                    {% endif %}
                    <td>{{ware.id}}</td>
                    <td>
                        {% if user.is_staff %}
                        <a class="btn btn-brown btn-sm" 
                        href="{% url 'shop:coffee_make_form' pkey=ware.pk %}">
                        <span class="fa fa-shopping-basket"></span></a>
                        {% endif %}
                    </td>       
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

     
{% endblock%}