{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Booking
{% endblock %}

{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_6.jpgg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: middle;
        color: rgb(51, 31, 1);
        }
        td { font-size: 10px;}
    </style>
{% endblock %}  

{% block content %}

<div class="container sm ">
    <div class="row-sm-2">
        <div class="col-sm-2 right">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_home' %}" {% endif %}
            title="Back Coffee Page"               
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-content="Order, Make, Booking">                
                <img src ="{% static '/image/coffe_book_1.png' %}" class="rounded" 
                style="width:100px;height:100px; border:5px solid; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-6 right">
            <h1> Következő Kávézás: </h1>
        </div>    
    </div>
</div>

<div class="container sm ">
    {% for coffee in coffees %}
    <div class="row-sm-6">
        <table class="table table table-hover">
            <thead class="table-dark">
                <tr>  
                    <th class="col-sm-2">{{coffee.id}}, 
                        {{coffee.c_make_ware.ware_type.ware_brand}}, 
                        {{coffee.c_make_ware.ware_type.ware_brand_name}}</th>                   
                    <th class="col-sm-1">{{coffee.c_make_date}}</th>
                    <th class="col-sm-1">  Kávé adag még:<br> {{coffee.c_make_dose}}</th>                    
                    <th class="col-sm-1">  Cukor választás / adag </th>                    
                    <th class="col-sm-1">  Tej választás / adag </th>                    
                    <th class="col-sm-1">  Ízesítő választás / adag </th>                    
                    {% if user.is_authenticated %}
                    <th class="col-sm-1">                        
                        <a class="btn btn-primary btn-sm" href="{% url 'shop:coffee_booking_pk' pkey=coffee.pk %}">
                            <span class="fa fa-book"> Könyvelem </span></a>
                        {% else %}
                        <th>Betelt</th>
                        {% endif %}</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for order in ordered %}
                <tr> 
                    {% if order.coffee_selected.id == coffee.id  %}
                    
                    <td>{{order.id}}., {{order.coffe_user}}</td>
                    <td>{{order.coffee_reg}} </td>
                    <td>{{order.coffee_dose}}</td>                    
                    <td>{{order.sugar_choice}} <br>{{order.sugar_dose}}</td>
                    <td>{{order.milk_choice}} <br>{{order.milk_dose}}</td>
                    <td>{{order.flavour_choice}} <br>{{order.flavour_dose}}</td>
                    <td>
                        {% if user.is_staff %}
                        <a class="btn btn-danger btn-sm" 
                        href="{% url 'shop:coffee_order_remove' pk=order.pk %}"
                        onclick="return confirm('Biztosan törölni akarja?')">
                            <span class="fa fa-trash-o"></span>
                        </a>
                        {% endif %}>
                    </td>
                    {% endif %}       
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

{% endblock%}