{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Order
{% endblock %}

{% block style %}    
{% endblock %}  

{% block content %}

<div class="container sm ">
    <div class="row-sm-2">
        <div class="col-sm-2 right">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_home' %}" {% endif %}
                title="Back Coffee Page"               
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-content="Order, Make, Booking">
                <img src ="{% static '/image/koffe.jpeg' %}" class="rounded btn-border" 
                style="width:100px;height:100px; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-6 right">
            <h1> Next Coffee Shop:</h1>
        </div>    
    </div>
</div>

<div class="container sm "
    hx-trigger="load, coffeeTableChanged from:body" 
    hx-get="{% url 'shop:coffee_order_table' %}" 
    hx-target="this">
</div>


<br><br><br><br><br>

<p> This was the last point when I can not use JawaScript 2022.05.30</p>
<p> First use the Bootsrap modal 2022.06.15</p>
<p> Little game with JawaScript Bootsrap Alert 2022.06.22</p>
<p> New Universal Message Modal with htmx (hx-vals) 2022.06.27</p>

{% endblock%}