{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Order
{% endblock %}

{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_6.jpgg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: middle;
        color: rgb(51, 31, 1);
        }
    </style>
{% endblock %}  

{% block content %}

<div class="container sm ">
    <div class="row-sm-2">
        <div class="col-sm-2 right border">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_home' %}" {% endif %}>                
                <img src ="{% static '/image/koffe.jpeg' %}" class="rounded" 
                style="width:100px;height:100px; border:5px solid; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-6 right border">
            <h1> Következő Kávézás</h1>
            <h3>   {{dt}} </h3>
            <h3>{{coffes}}</h3>
            <h3>{{end}}</h3>
            <h4> Kibontott kávék</h4>
        </div>    
    </div>
</div>

<div class="container sm ">
    {% for coffee in coffees %}
    <div class="row-sm-6">
        <table class="table table table-hover border">
            <thead class="table-dark">
                <tr>  
                    <th class="col-sm-1">{{coffee.id}}, {{coffee.c_make_ware.ware_type.ware_brand}}</th>
                    <th class="col-sm-1">{{coffee.c_make_ware.ware_type.ware_brand_name}}</th>
                    <th class="col-sm-1">{{coffee.c_make_date}}</th>
                    <th class="col-sm-1">  Maradék [g]  </th>
                    <th class="col-sm-1">  Azonosító   </th>
                    <th class="col-sm-1">                        
                         {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" href="{% url 'shop:coffee_make_form' pkey=coffee.pk %}">
                            <span class="fa fa-shopping-basket"> Lefoglalom </span></a>
                        {% endif %}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>{{coffee.c_make_ware.ware_type.ware_brand}}</td>
                    <td>{{coffee.c_make_ware.ware_type.ware_brand_name}} </td>
                    <td>{{coffee.c_make_date}}</td>
                    {% if coffee.stock <= stock_min %}
                    <td style="background-color:powderblue; 
                        color:red; bold">{{coffee.stock}}g</td>
                    {% else %}
                    <td>{{coffee.stock}}g</td>
                    {% endif %}
                    <td>{{coffee.id}}</td>
                    <td>
                        {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" href="{% url 'shop:coffee_make_form' pkey=coffee.pk %}">
                            <span class="fa fa-shopping-basket"></span></a>
                        {% endif %}
                    </td>       
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

     
{% endblock%}