{% extends 'base.html' %}

{% block title %}
    Coffee Make
{% endblock %}

{% block style %}    
{% endblock %}  

{% block content %}

<div class="container sm ">
    
</div>
<div class="container pt-3 ">
    <div class="row">
        <div class="col-md-4 ">
            <div class="input-group pt-3 pb-3 mb-10 mr-sm-8 ">
                <form method="POST" class="post-form was-validated">{% csrf_token %}
                    <div class="row">  
                        <div class="col-sm-12" >
                            
                            <h4>{{form.as_p}}</h4>
                        </div>                
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 d-flex justify-content-center " >
                            <button type="cancel" class="cancel btn btn-capuccino" 
                            onclick="window.history.back();">Cancel</button>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-center" >
                            <button type="submit" class="save btn btn-capuccino">Save </button>
                        </div> 
                    </div>                     
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="txt-shadow"> Kávé főzés </h1>
            <h4 class="txt-shadow">Választott kávé:</h4>
            {% if ware.stock <= stock_min %}
                <h4 style="color:red; bold"> {{ alrt }}</h4>
            {% endif %}

            <table class="table  btn-border">
                <thead class="table-brown">
                    <tr>  
                        <th class="col-sm-1">     Márka    </th>
                        <th class="col-sm-1">    Típus     </th>
                        <th class="col-sm-1">Kiszerelés [g]</th>
                        <th class="col-sm-1">  Maradék [g]  </th>
                        <th class="col-sm-1">  Szerkeszt   </th>
                        
                    </tr>
                </thead>
                <tbody class="table-capuccino">
                    <tr> 
                        <td class="col-sm-1">{{ware.ware_type.ware_brand}}</td>
                        <td class="col-sm-1">{{ware.ware_type.ware_brand_name}} </td>
                        <td class="col-sm-1">{{ware.ware_type.ware_weight}}g</td>
                        {% if ware.stock <= stock_min %}
                        <td class="col-sm-1" style="color:red; bold">{{ware.stock}}g</td>
                        {% else %}
                        <td class="col-sm-1">{{ware.stock}}g</td>
                        {% endif %}
                        <th class="col-sm-1">{{ware.id}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    

<div class="container sm-6 pt-3 border">
    <p>{{cm}}</p>
    <p>{{dt}}</p>
    <p>{{field_names}}</p>
    <p>{{coffe_new}}</p>   
    <p>{{coffe_new.as_p}}</p> 
</div>
{% endblock%}