{% extends 'base.html' %}
{% load static %}
{% load django_template_maths %}

{% block title %}
    Coffee Home
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_3.jfif);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: left;
        color: rgb(133, 82, 0);
        }
    </style>
{% endblock %}  

{% block content %}

<div class="container pt-2 middle ">
    <div class="col-sm-6 right ">
        <h1> Coffe Shop Functions </h1>
    </div>    
</div>

<div class="container sm-8 pt-2 ">
    <div class="row p-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 ">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_order' %}" {% endif %}
            title="To the Coffee Ordering Page"               
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-content="There you can book some dose Coffe. From half a dose to two doses.
            With milk, sugar, and flavoring.">              
            <img src ="{% static '/image/koffe.jpeg' %}" class="img-thumbnail" 
            style="width:200px;height:200px;"; alt="choice">                 
        </a>
    </div>
    </div>
    
    <div class="row p-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <a  {% if user.is_staff %} href="{% url 'shop:coffee_make' %}" {% endif %}
            title="To the Coffee Making Page"               
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-content="There you can indicate when the next coffee portions will be ready. 
            Only for STAFF ">                
            <img src ="{% static '/image/coffee_machine_1.jfif' %}"  class="img-thumbnail" 
            style="width:200px;height:200px;"; alt="choice">               
        </a>
    </div>
</div>
<div class="row p-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 right ">
            <a  {% if user.is_staff %} href="{% url 'shop:coffee_booking' %}" {% endif %}
            title="To the Coffee Booking Page"               
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-content="On this page you can record the depletion of finished 
            and consumed raw materials. Only for STAFF ">               
                <img src ="{% static '/image/coffe_book_1.png' %}"  class="img-thumbnail" 
                style="width:200px;height:200px;"; alt="choice">                
            </a>
        </div>
    </div>

    
    
</div>

{% endblock%}