{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Makeing
{% endblock %}

{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_6.jpgg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: middle;
        color: rgb(51, 31, 1);
        }
    </style>
{% endblock %}  

{% block content %}
<div class="container sm ">
    <br>
    <div class="row-sm-2">
        <div class="col-sm-2 right">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_home' %}" {% endif %}
            title="Back Coffee Page"               
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-content="Order, Make, Booking">             
                <img src ="{% static '/image/coffee_machine_1.jfif' %}" class="rounded" 
                style="width:100px;height:100px; border:5px solid; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-6 right">
            <h1> Kávé főzés {{dt}} </h1>
            <h4> Kibontott kávék</h4>
        </div>    
    </div>
</div>

<div class="container sm ">
    <div class="row-sm-6">
        <table class="table table table-hover border">
            <thead class="table-dark">
                <tr>  
                    <th class="col-sm-1">     Márka    </th>
                    <th class="col-sm-1">    Típus     </th>
                    <th class="col-sm-1">Kiszerelés [g]</th>
                    <th class="col-sm-1">  Maradék [g]  </th>
                    <th class="col-sm-1">  Azonosító   </th>
                    <th class="col-sm-1">  Főzés    </th>
                    
                </tr>
            </thead>
            <tbody>
                {% for ware in wares %}
                <tr> 
                    <td>{{ware.ware_type.ware_brand}}</td>
                    <td>{{ware.ware_type.ware_brand_name}} </td>
                    <td>{{ware.ware_type.ware_weight}}g</td>
                    {% if ware.stock <= stock_min %}
                    <td style="background-color:powderblue; 
                        color:red; bold">{{ware.stock}}g</td>
                    {% else %}
                    <td>{{ware.stock}}g</td>
                    {% endif %}
                    <td>{{ware.id}}</td>
                    <td>
                        {% if user.is_staff %}
                        <a class="btn btn-primary btn-sm" 
                        href="{% url 'shop:coffee_make_form' pkey=ware.pk %}">
                        <span class="fa fa-shopping-basket"></span></a>
                        {% endif %}
                    </td>       
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

     
{% endblock%}