{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coffee Home
{% endblock %}
{% block style %}    
    <style>
        body {
          background-image: url(/static/image/coffee_bg_3.jfif);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        h2  {
        text-align: left;
        color: rgb(133, 82, 0);
        }
    </style>
{% endblock %}  

{% block content %}

<div class="container pt-2 middle ">
    <div class="col-sm-6 right ">
        <h1> Kávé adatlaplap </h1>
    </div>    
</div>

<div class="container sm-8 pt-2 ">
    <div class="row">
        <div class="col-sm-3 right ">
            <a  {% if user.is_authenticated %} href="{% url 'shop:coffee_order' %}" {% endif %}>                
                <img src ="{% static '/image/koffe.jpeg' %}" class="rounded" 
                style="width:200px;height:200px; border:5px solid; "; alt="choice">                 
            </a>
        </div>
        <div class="col-sm-3 right ">
            <a  {% if user.is_staff %} href="{% url 'shop:coffee_make' %}" {% endif %}>                
                <img src ="{% static '/image/coffee_machine_1.jfif' %}" class="rounded" 
                style="width:200px;height:200px; border:5px solid; padding: 5px;background-color:white;"; alt="choice">               
            </a>
        </div>
        <div class="col-sm-3 right ">
            <a  {% if user.is_staff %} href="{% url 'shop:coffee_booking' %}" {% endif %}>                
                <img src ="{% static '/image/coffe_book_1.png' %}" class="rounded" 
                style="width:200px;height:200px; border:5px solid; padding: 5px;background-color:white;"; alt="choice">              
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 right"><h2>Rendelés</h2></div>
        <div class="col-sm-3 right"><h2>Főzés</h2></div>
        <div class="col-sm-3 right"><h2>Könyvelés</h2></div>
    </div>
</div>

{% endblock%}