{% for coffee in coffees %}
    <div class="row-sm-12">
        <table class="table table-hover btn-border ">
            <thead class="table-brown">
                <div id="demo"></div>
                <div id="coffee{{coffee.id}}"></div>
                <tr>
                    <th class="col-sm-2">{{coffee.id}} , 
                        {{coffee.c_make_ware.ware_type.ware_brand}}, 
                        {{coffee.c_make_ware.ware_type.ware_brand_name}}
                        <br>
                        {{coffee.c_make_date}}
                    </th>                   
                    <th class="col-sm-2">  Coffee portion also: {{coffee.c_make_dose}}</th>                    
                    <th class="col-sm-2">  Sugar selection / portion </th>                    
                    <th class="col-sm-2">  Milk selection / portion </th>                    
                    <th class="col-sm-2">  Flavor selection / portion </th>  
                    <th class="col-sm-2" >   
                        {% if user.is_staff %} 
                            {% if coffee.c_order_yes %}
                                <a class="btn btn-outline-danger btn-sm m-1" 
                                    onclick=alertVisible(coffee.id)
                                    title="Delete with condition">
                                <span class="fa fa-trash-o"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-danger btn-sm m-1" 
                                    href="{% url 'shop:coffee_make_remove' pkey=coffee.pk %}"
                                    onclick="return confirm('Are you sure you want to delete?')" 
                                    title="Delete this coffe date">
                                    <span class="fa fa-trash-o"></span>
                                </a>
                            {% endif %}
                            
                            <a class="btn btn-capuccino btn-sm m-1" 
                            hx-get="{% url 'shop:coffee_make_time' pk=coffee.pk %}"
                            hx-target="#dialog"
                            title="Change the date">
                            <span class="fa fa-clock-o"></span>
                            </a>

                            <!--a class="btn btn-secondary btn-sm m-1"
                            href="#" 
                            title="Popover Header"
                            data-bs-toggle="popover"
                            data-bs-trigger="hover"
                            data-bs-content="Some content inside the popover"
                            data-placement="top">
                                <span class="fa fa-cog">Test Popover</span>
                            </a-->
                            {% endif %}

                            {% if user.is_authenticated and coffee.c_make_dose >= 0.5 %}
                                <a class="btn btn-capuccino btn-sm m-1" 
                                hx-get="{% url 'shop:coffee_order_form' pkey=coffee.pk %}"
                                hx-target="#dialog"
                                title="Order a Coffe!">
                                    <span class="fa fa-shopping-basket"> I'd like one.</span>
                                {% else %}
                                    <p style="color:red; font-size: 24px;">It's full</p>
                                </a>
                            {% endif %}

                            <a class="btn btn-danger btn-sm m-1" 
                                hx-get="{% url 'view_modal_mess' %}"
                                hx-vals='{"headx": "WARNING", "txtx":"Ooops Somthing is bad","background":"red"}'
                                hx-target="#modals-here" 
                                hx-trigger="click"
                                class="btn btn-primary"
                                _="on htmx:afterOnLoad wait 10ms then add .show to #modalMessenger then add .show to #modal-backdrop">
                                <span class="fa fa-cog"> Test Modal</span>
                            </a>

                            <a class="btn btn-success btn-sm m-1" 
                                hx-get="{% url 'view_modal_mess' %}"
                                hx-vals='{"headx": "SUCCESS", "txtx":"Oh yeah It is cool","background":"green"}'
                                hx-target="#modals-here" 
                                hx-trigger="click"
                                class="btn btn-primary"
                                _="on htmx:afterOnLoad wait 10ms then add .show to #modalMessenger then add .show to #modal-backdrop">
                                <span class="fa fa-cog"> Test Modal</span>
                            </a>

                    </th>
                    
                </tr>
            </thead>
            <tbody class="table-capuccino">
                {% for order in ordered %}
                {% if order.coffee_selected.id == coffee.id  %}
                <tr> 
                    <td class="col-sm-2">{{order.id}}., <b>{{order.coffe_user}}</b>
                        <br> {{order.coffee_reg}}
                    </td>
                    <td class="col-sm-2">{{order.coffee_dose}}</td>                    
                    <td class="col-sm-2">{{order.sugar_choice}} <br>{{order.sugar_dose}}</td>
                    <td class="col-sm-2">{{order.milk_choice}} <br>{{order.milk_dose}}</td>
                    <td class="col-sm-2">{{order.flavour_choice}} <br>{{order.flavour_dose}}</td>
                    <td class="col-sm-2">
                        {% if user.is_staff %}
                        <a class="btn btn-danger btn-sm" 
                        href="{% url 'shop:coffee_order_remove' pk=order.pk %}"
                        onclick="return confirm('Biztosan törölni akarja?')"
                        title="Delete the ordered coffee">
                            <span class="fa fa-trash-o"></span></a>
                        {% endif %}
                    </td class="col-sm-1">
                </tr>
                {% endif %}       
                {% endfor %}
            </tbody>
        </table>
    </div>

    
      

{% endfor %}
<script>
    function alertVisible(elemID) {
        // var elemID = 0
        var posit = 'coffee'+ elemID.toString()
        var divA ='<div class="alert alert-danger" id="alertBox" style="display:none;"><strong>Warning! </strong> Cancel orders first!! '+ posit +'</div>'
        document.getElementById(posit).innerHTML = divA
        
        $('#alertBox').fadeIn(500);
        setTimeout(function() { $('#alertBox').fadeOut(800); document.getElementById(posit).innerHTML = ''}, 2000);   
    }
</script>

